.Gaming-container1 {
  display: flex;
}

.light-Game-overflow-container {
  overflow-y: scroll;
  background-color: #cccccc;
  height: 100vh;
  width: 100vw;
}

.Dark-Game-overflow-container {
  overflow-y: scroll;
  background-color: #0f0f0f;
  height: 100vh;
  width: 100vw;
}

.Dark-Gaming-Header1 {
  background-color: #231f20;
  height: 15vh;
  width: 75vw;
  margin: 20px;
  display: flex;
}

.light-Gaming-Header1 {
  background-color: #ffffff;
  height: 15vh;
  width: 75vw;
  margin: 20px;
  display: flex;
}

.Gaming-list-container {
  display: flex;
  flex-wrap: wrap;
}

.Failure-Gaming-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.light-failure-heading {
  color: #1e293b;
  font-size: 28px;
  font-family: 'Roboto';
}

.Dark-failure-heading {
  color: #ffffff;
  font-size: 28px;
  font-family: 'Roboto';
}

.light-failure-Gaming-para {
  color: #475569;
  font-size: 20px;
  font-family: 'Roboto';
}

.Dark-failure-Gaming-para {
  color: #e2e8f0;
  font-size: 20px;
  font-family: 'Roboto';
}

.Gaming-Retry-button {
  background-color: #4656a1;
  height: 40px;
  width: 150px;
  color: #ffffff;
  font-size: 18px;
  border: 0px solid;
  text-align: center;
}

.failure-Gaming-logo {
  height: 400px;
  width: 400px;
}

.Gaming-logo-style {
  height: 30px;
  width: 30px;
  color: #ff0b37;
}

.dark-logo-Gaming-background {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  border: 0px solid;
  background-color: #0f0f0f;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.light-logo-Gaming-background {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  border: 0px solid;
  background-color: #cccccc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.light-Gaming-heading {
  color: #0f0f0f;
  font-size: 35px;
  font-family: 'Roboto';
  font-weight: bold;
  padding-left: 20px;
  font-weight: bold;
  padding-top: 15px;
}

.dark-Gaming-heading {
  color: #ffffff;
  font-size: 35px;
  font-family: 'Roboto';
  font-weight: bold;
  padding-left: 20px;
  font-weight: bold;
  padding-top: 15px;
}

.Failure-Gaming-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.light-failure-Gaming-heading {
  color: #1e293b;
  font-size: 28px;
  font-family: 'Roboto';
}

.Dark-failure-Gaming-heading {
  color: #ffffff;
  font-size: 28px;
  font-family: 'Roboto';
}

.light-failure-Gaming-para {
  color: #475569;
  font-size: 20px;
  font-family: 'Roboto';
}

.Dark-failure-Gaming-para {
  color: #e2e8f0;
  font-size: 20px;
  font-family: 'Roboto';
}

.Retry-Gaming-button {
  background-color: #4656a1;
  height: 40px;
  width: 150px;
  color: #ffffff;
  font-size: 18px;
  border: 0px solid;
  text-align: center;
}

.failure-Gaming-logo {
  height: 400px;
  width: 400px;
}
