.sub-saved-list1 {
  display: flex;
}

.new-saved-list-item1 {
  list-style-type: none;
  background-color: #ffffff;
  height: 450px;
  width: 300px;
  margin: 10px;
}

.thumbnail-saved-style {
  height: 250px;
  width: 300px;
}

.list-saved-heading {
  font-size: 17px;
}

.channel-saved-logo {
  height: 40px;
  width: 40px;
}

.sub-saved-list2 {
  display: flex;
}

.list-saved-description {
  padding-right: 10px;
}

.nav-link5 {
  text-decoration: none;
}
